<div class="row employee-index-header">
  <div class="small-12 columns">
    <% unless is_qa? %>
      <%= link_to "Add Employee", new_employee_path, class: "button radius btn-green" %>
  <% end %>
    <h3>Employees</h3>
  </div>
</div>
<div class="row employee-search">
  <div class="small-12 columns">
    <%= form_tag("/employees", method: "get", id: "search-form") do %>
      <div class="small-5 columns">
      <%= label_tag(:first_name, "First Name") %>
      <%= text_field_tag(:first_name) %>
    </div>
    <div class="small-5 columns">
      <%= label_tag(:last_name, "Surname") %>
      <%= text_field_tag(:last_name) %>
    </div>
    <div class="small-2 columns">
      <%= label_tag(:inactive, "Inactive") %>
      <%= check_box_tag(:inactive) %>
    </div>
    <div class="small-12 columns">
      <%= submit_tag "Search", class: "button small radius" %>
      <%= link_to "Clear", employees_path, class: "button small radius" %>
    </div>
  <% end %>
  </div>
</div>
<div class="row employee-list">
  <div class="small-12 columns">
    <%= will_paginate @employees, renderer: FoundationPagination::Rails %>
    <ul>
      <% @employees.each do |employee| %>
        <li><%= link_to "#{employee.pid} - #{employee.first_name} #{employee.last_name}", employee_path(employee) %></li>
    <% end %>
  </ul>
  <%= will_paginate @employees, renderer: FoundationPagination::Rails %>
  </div>
</div>
