<div class="row">
  <div class="small-12 columns employee-show">
    <h3><%= @employee.pid %> - <%= @employee.first_name.humanize %> <%= @employee.last_name.humanize %></h3>

    <h4><strong>Total Events: </strong><%= @employee.events.count %></h4>
    <p><strong>Attendance: </strong><%= @employee.events.where("incident_type = 'Attendance'").count %></p>
    <p><strong>Attitude/Behaviour: </strong><%= @employee.events.where("incident_type = 'Attitude/Behaviour'").count %></p>
    <p><strong>Interviewing Issue: </strong><%= @employee.events.where("incident_type = 'Interviewing Issue'").count %></p>
    <p><strong>Late Break: </strong><%= @employee.events.where("incident_type = 'Late Break'").count %></p>
    <p><strong>Mobile Phone: </strong><%= @employee.events.where("incident_type = 'Mobile Phone'").count %></p>
    <p><strong>Suspension: </strong><%= @employee.events.where("incident_type = 'Suspension'").count %></p>
    <p><strong>Spoken to by management: </strong><%= @employee.events.where("incident_type = 'Spoken to by management'").count %></p>
    <p><strong>Timekeeping: </strong><%= @employee.events.where("incident_type = 'Timekeeping'").count %></p>

    <% if is_admin? %>
      <%= link_to 'Edit Details', edit_employee_path(@employee), class: "button radius btn-green" %>
    <%= link_to 'Delete Employee', employee_path(@employee),
      method: :delete,
      data: { confirm: 'Sure?'}, class: "button radius btn-green" %>
  <% end %>
  </div>
</div>
