<div class="row">
  <div class="small-12 columns employee-show">
    <h3><%= @employee.pid %> - <%= @employee.first_name.humanize %> <%= @employee.last_name.humanize %></h3>

  <table>
    <thead>
      <tr>
        <th>Type of event</th>
        <th>Number of events</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Attendance</td>
        <td><%= @employee.events.where("incident_type = 'Attendance'").count %></td>
      </tr>
      <tr>
        <td>Attitude/Behaviour</td>
        <td><%= @employee.events.where("incident_type = 'Attitude/Behaviour'").count %></td>
      </tr>
     <tr>
        <td>Interviewing issue</td>
        <td><%= @employee.events.where("incident_type = 'Interviewing Issue'").count %></td>
      </tr>
     <tr>
        <td>Late break</td>
        <td><%= @employee.events.where("incident_type = 'Late Break'").count %></td>
      </tr>
     <tr>
        <td>Mobile phone</td>
        <td><%= @employee.events.where("incident_type = 'Mobile Phone'").count %></td>
      </tr>
     <tr>
        <td>Suspension</td>
        <td><%= @employee.events.where("incident_type = 'Suspension'").count %></td>
      </tr>
      <tr>
        <td>Spoken to by management</td>
        <td><%= @employee.events.where("incident_type = 'Spoken to by management'").count %></td>
      </tr>
     <tr>
        <td>Timekeeping</td>
        <td><%= @employee.events.where("incident_type = 'Timekeeping'").count %></td>
      </tr>
     <tr>
       <td><strong>Total</strong></td>
        <td><%= @employee.events.count %></td>
      </tr>
    </tbody>
  </table>
  
  <% if is_admin? %>
      <%= link_to 'Edit Details', edit_employee_path(@employee), class: "button radius btn-green" %>
    <%= link_to 'Delete Employee', employee_path(@employee),
      method: :delete,
      data: { confirm: 'Sure?'}, class: "button radius btn-green" %>
  <% end %>
  </div>
</div>
