<h4><%= @user.first_name.humanize %> <%= @user.last_name.humanize %></h4>
<p><strong>Authority:</strong> <%= @user.authority.humanize %></p>
<p><strong>Events logged:</strong> <%= @user.events.all.count %></p>
<p><strong>Unread events:</strong> <%= @unreads.count %></p>
<p><strong>ID:</strong> <%= @user.id %></p>

<% unless is_qa? %>
  <%= link_to 'Edit user details', edit_user_path(@user), class: "button radius btn-green" %>
<% end %>
<% if is_admin? %>  
  <%= link_to 'Delete this user', user_path(@user),
    method: :delete,
    data: { confirm: 'Sure?'}, class: "button radius btn-green"  %>
<% end %>
