<% if is_admin? %>
  <%= link_to "Export Data", events_export_path(format: "csv"), class: "button radius btn-green" %>
<% end %>

<div class="row">
  <div class="small-12 columns">
    <%= form_tag("/all-events", method: "get", id: "search-form") do %>
      <div class="small-4 columns">
        <%= check_box_tag(:mobile_phone, "Mobile Phone") %>
        <%= label_tag(:mobile_phone, "Mobile Phone") %>
      </div>
      <div class="small-4 columns">
        <%= check_box_tag(:late_break, "Late Break") %>
        <%= label_tag(:late_break, "Late Break") %>
      </div>
      <div class="small-4 columns">
        <%= check_box_tag(:attendance, "Attendance") %>
        <%= label_tag(:attendance, "Attendance") %>
      </div>
      <div class="small-4 columns">
        <%= check_box_tag(:attitude_behaviour, "Attitude/Behaviour") %>
        <%= label_tag(:attitude_behaviour, "Attitude/Behaviour") %>
      </div>
      <div class="small-4 columns">
        <%= check_box_tag(:interviewing_issue, "Interviewing Issue") %>
        <%= label_tag(:interviewing_issue, "Interviewing Issue") %>
      </div>
      <div class="small-4 columns">
        <%= check_box_tag(:timekeeping, "Timekeeping") %>
        <%= label_tag(:timekeeping, "Timekeeping") %>
      </div>
      <div class="small-4 columns">
        <%= check_box_tag(:spoken_to_by_management, "Spoken to by management") %>
        <%= label_tag(:spoken_to_by_management, "Spoken to by management") %>
      </div>
      <div class="small-4 columns">
        <%= check_box_tag(:suspension, "Suspension") %>
        <%= label_tag(:suspension, "Suspension") %>
      </div>
      <div class="small-4 columns">
        <%= check_box_tag(:unread, "Unread") %>
        <%= label_tag(:unread, "Unread") %>
      </div>
      <div class="small-12 columns">
        <%= label_tag(:event_date, "Date") %>
        <%= date_field(:event_date, nil, id: "event-date-select") %>
        <%= submit_tag "Search", class: "button small radius" %>
        <%= link_to "Clear", all_events_path, class: "button small radius" %>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate @events, renderer: FoundationPagination::Rails %>
<% @events.each do |event| %>
  <div class="panel radius event">
  <p><strong><%= "#{event.employee.pid} - #{event.employee.first_name} #{event.employee.last_name}" %></strong></p>
  <p><%= event.incident_type %></p>
  <p>Logged on: <%= event.created_at.strftime("%d/%m/%Y") %> at <%= event.created_at.strftime("%H:%M:%S") %> by <%= logged_by(event.user) %> </p>
  <%= link_to 'view', employee_event_path(event.employee, event), class: is_unread(@unreads, event) %>
</div>
<% end %>
<%= will_paginate @events, renderer: FoundationPagination::Rails%>
