<h3>Total Events: <%= @events.count %></h3>
<ul id="event-stats">
  <li><strong>Attendance:</strong> <%= @events.where("incident_type = 'Attendance'").count %></li>
  <li><strong>Behaviour:</strong> <%= @events.where("incident_type = 'Behaviour'").count %></li>
  <li><strong>Late:</strong> <%= @events.where("incident_type = 'Late'").count %></li>
  <li><strong>Phone:</strong> <%= @events.where("incident_type = 'Phone'").count %></li>	
  <li><strong>Suspension:</strong> <%= @events.where("incident_type = 'Suspension'").count %></li>	
</ul>

<%= will_paginate @events, renderer: FoundationPagination::Rails %>
<% @events.each do |event| %>
  <div class="panel radius event unread">
  <p><strong><%= event.incident_type %></strong></p>
  <p>Logged on: <%= event.created_at.strftime("%d/%m/%Y") %> at <%= event.created_at.strftime("%H:%M:%S") %> by <%= logged_by(event.user) %> </p>
  <%= link_to 'view', employee_event_path(event.employee, event), class: is_unread(@unreads, event) %>
</div>
<% end %>
<%= will_paginate @events, renderer: FoundationPagination::Rails %>
