<h4>Total Events: <%= @events.count %></h4>
<ul id="event-stats">
  <li><strong>Attendance:</strong> <%= @events.where("incident_type = 'Attendance'").count %></li>
  <li><strong>Attitude/Behaviour:</strong> <%= @events.where("incident_type = 'Attitude/Behaviour'").count %></li>
  <li><strong>Interviewing Issue:</strong> <%= @events.where("incident_type = 'Interviewing Issue'").count %></li>
  <li><strong>Late Break:</strong> <%= @events.where("incident_type = 'Late Break'").count %></li>
  <li><strong>Mobile Phone:</strong> <%= @events.where("incident_type = 'Mobile Phone'").count %></li>	
  <li><strong>Suspension:</strong> <%= @events.where("incident_type = 'Suspension'").count %></li>	
  <li><strong>Spoken to by management:</strong> <%= @events.where("incident_type = 'Spoken to by management'").count %></li>	
  <li><strong>Timekeeping:</strong> <%= @events.where("incident_type = 'Timekeeping'").count %></li>	
</ul>

<%= will_paginate @events, renderer: FoundationPagination::Rails %>
<% @events.each do |event| %>
  <div class="panel radius event unread">
  <p><strong><%= event.incident_type %></strong></p>
  <p>Logged on: <%= event.created_at.strftime("%d/%m/%Y") %> at <%= event.created_at.strftime("%H:%M:%S") %> by <%= logged_by(event.user) %> </p>
  <%= link_to 'view', employee_event_path(event.employee, event), class: is_unread(@unreads, event) %>
</div>
<% end %>
<%= will_paginate @events, renderer: FoundationPagination::Rails %>
