<h3><%= @employee.first_name %> <%= @employee.last_name %></h3>

<% if @latest_event.id != nil %>
  <% if @latest_event.created_at.to_date == Date.today %>
    <div data-alert class="alert-box alert radius">
      <%= @employee.first_name %> has already had an event logged today at <%= @latest_event.created_at.strftime("%H:%M:%S") %> by <%= logged_by(@latest_event.user) %>. Reason: <%= @latest_event.incident_type %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
<% end %>

<%= form_for([@employee, @employee.events.build]) do |f| %>

  <% if @event.errors.any? %>
  <p>The form contains <%= pluralize(@event.errors.count, "error") %>.</p>
<ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
<% end %>
</ul>
        <% end %>

<%= f.label :incident_type %>
<%= f.select :incident_type, options_for_select(Event::EVENT_TYPES) %>

<%= f.label :description %>
<%= f.text_area :description %>

<%= f.hidden_field :user_id, :value => current_user.id %>

<label>Flag to management</label>
<div class="switch">
  <%= f.check_box :flagged %>
  <%= f.label :flagged %>
</div>

<%= f.submit "Submit", data: { disable_with: "Saving..." }, class: "button radius" %>

<% end %>
