<div id="nav" class="row">
	<% if logged_in? %>
		<ul>
			<% if is_admin? %>
				<li class=<%= is_active('users', 'index') %>><%= link_to "Users", users_path %></li>
			<% end %>
			<li class=<%= is_active('events', 'all_events') %>><%= link_to "Events", all_events_path %></li>
			<li class=<%= is_active('employees', 'index') %>><%= link_to "Employees", employees_path %></li>
			<span class="right">
			<li class=<%= is_active('users', 'show') %>><%= link_to "#{user_name}", current_user %></li>
			<li><%= link_to "Log out", logout_path, method: "delete" %></li></span>
		<% else %>
			<h3>Please Log In</h3>
		</ul>
	<% end %>
</div>
