#nav
  - if logged_in?
    %ul
      - if is_admin?
        %li{class: is_active('users', 'index')}= link_to "Users", users_path 
      %li{class: is_active('events', 'overview')}= link_to "Overview", overview_path
      %li{class: is_active('events', 'all_events')}= link_to "Events", all_events_path
      %li{class: is_active('employees', 'index')}= link_to "Employees", employees_path
      %li{class: is_active('suspensions', 'index')}= link_to "Suspensions", suspensions_path
      .user
        %li{class: is_active('users', 'show')}= link_to "#{user_name}", current_user
        %li= link_to "Log out", logout_path, method: 'delete'
